body {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.02;
    line-height: 1.55;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
}

* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.home-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    padding-top: 70px;
    flex-direction: column;
}

.home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-main {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
}

.max-width-container {
    width: 100%;
    display: flex;
    max-width: 1328px;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
}

.input {
    color: #ffffff;
    cursor: auto;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #fefafa;
}

.button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000cc;
    border: 1px solid #00000080;
    box-shadow: 0.5em 0.5em 1em #b17474;
    cursor: pointer;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 12px 24px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    background-color: #f7f7f7;
}

.button:hover,
.button:active,
.button:focus {
    background: #f1dcdc;
}

.section-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 2em;
    justify-content: center;
}

.section-heading-section-heading {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 48px;
    flex-direction: column;
}

.section-heading-text {
    text-align: center;
    margin-bottom: 16px;
}

.section-heading-text1 {
    color: #00000099;
    text-align: center;
    line-height: 24px;
}

.column {
    display: flex;
    flex-direction: column;
}

.Heading-3 {
    font-size: 24px;
    font-style: normal;
    font-family: Jost;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.4em;
    text-transform: none;
    text-decoration: none;
}

.Content {
    font-size: 16px;
    font-family: Jost;
    font-weight: 400;
    letter-spacing: 0.02;
    text-transform: none;
    text-decoration: none;
}

.Heading-1 {
    font-size: 36px;
    font-family: Jost;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-decoration: none;
}

.Heading-2 {
    font-size: 28px;
    font-family: Jost;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
}

.home-paragraph {
padding: 4.5em;
}

.error-container {
    position: fixed;
    right: 100px;
    min-width: 100px;
    display: block;
    z-index: 11111;
    top: 80px;
    text-align: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    height: auto;
    width: 320px;
    box-shadow: 0 5px 10px black;
  }
  
  .error-container > p {
    background: #59452e84;
    font-size: 20px;
    padding: 20px;
    height: auto;
    border-radius: 20px;
  }
  
  .error-container {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }