body {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.02;
    line-height: 1.55;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
}

* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.home-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    padding-top: 70px;
    flex-direction: column;
}

.home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.max-width-container {
    width: 100%;
    display: flex;
    max-width: 1328px;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
}

.navbar-logo-title img,
.home-container05 img {
    display: block;
    width: 90px;
    height: auto;
}

.input {
    color: #ffffff;
    cursor: auto;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #fefafa;
}

.button {
    color: #000000cc;
    cursor: pointer;
    display: flex;
    padding: 0.5rem 1rem;
    position: relative;
    box-sizing: border-box;
    font-style: normal;
    transition: 0.3s;
    align-items: flex-start;
    flex-shrink: 1;
    font-weight: 500;
    line-height: 14px;
    padding-top: 12px;
    border-color: #00000080;
    border-style: solid;
    border-width: 1px;
    padding-left: 24px;
    border-radius: 0px;
    padding-right: 24px;
    padding-bottom: 12px;
    text-decoration: none;
}

.section-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 2em;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.Heading-3 {
    font-size: 24px;
    font-style: normal;
    font-family: Jost;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.4em;
    text-transform: none;
    text-decoration: none;
}

.Content {
    font-size: 16px;
    font-family: Jost;
    font-weight: 400;
    letter-spacing: 0.02;
    text-transform: none;
    text-decoration: none;
}

.Heading-1 {
    font-size: 36px;
    font-family: Jost;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-decoration: none;
}

.Heading-2 {
    font-size: 28px;
    font-family: Jost;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
}