.max-width-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-container08 {
    flex: 0 0 auto;
    width: 100%;
    padding-top: 1.5em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #d99595;
}

.blog-post-card-blog-post-card {
    width: 100%;
    display: flex;
    position: relative;
    max-width: 400px;
    align-self: stretch;
    transition: 0.3s;
    flex-direction: column;
    justify-content: space-between;
}

.blog-post-card-image {
    flex: 1;
    width: 100%;
    max-height: 20em;
    object-fit: cover;
    border: 1px solid #66656580;
    box-shadow: 0.7em 0.7em 1em #b17474;
}

.blog-post-card-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-right: 8px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
    background-color: #ffffff;
}

.blog-post-card-text {
    color: #000000cc;
    font-size: 22px;
    font-style: normal;
    margin-top: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.blog-post-card-text1 {
    color: #00000080;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 32px;
}

.carousel {
    position: initial;
}

.carousel-item {
    padding-inline: 1.5em;
}