.login {
  min-height: 29em;
  width: 100%;
}

.form {
  background: #d99595;
  max-width: 460px;
  margin: auto;
  margin-top: 60px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.682), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
}

.form input,
textarea {
  outline: 0;
  background: #fefafa;
  width: 90%;
  height: 50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.form .message {
  margin: 15px 0 0;
  color: #00000080;
  font-size: 17px;
}

.form .message a {
  color: white;
  text-decoration: none;
}