.details {
    min-height: 20em;
    width: 100%;
}

.details-wrapper {
    display: flex;
    gap: 3em;
    background-color: #d99595;
    margin: 60px auto 40px auto;
    min-height: 400px;
    max-width: 60%;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.682), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.img-wrapper {
    max-width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.img-wrapper img {
    display: block;
    width: 100%;
    min-height: 300px;
    width: 300px;
    height: 300px;
    box-shadow: 0.7em 0.7em 1em #b17474;
}

.img-wrapper p {
    font-size: 17px;
    margin-bottom: 0.2em;
}

.details-title {
    font-weight: bold;
    font-size: 29px;
    width: 100%;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    margin-left: 10px;
}

.info-wrapper p {
    width: 90%;
    font-weight: bold;
}

.info-wrapper p > span {
    display: block;
    font-weight: lighter;
    text-align: justify;
}

p {
    font-size: 19px;
}

span {
    font-size: 17px;
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 15px;
}