.home-hero {
    padding-top: 48px;
    padding-bottom: 1em;
    background-color: #d99595;
    margin-bottom: 3.5em;
}

.home-max-width {
    max-width: 1032px;
}

.home-hero1 {
    width: 100%;
    display: flex;
    max-width: 1000px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.home-container03 {
    display: flex;
    margin-left: 48px;
    padding-right: 48px;
    flex-direction: column;
}

.home-info {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    margin-bottom: 48px;
}

.home-text12 {
    color: #00000080;
    font-size: 18px;
    text-align: left;
    font-family: Jost;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
}

.home-text16 {
    max-width: 450px;
    margin-bottom: 48px;
}

.home-container04 {
    display: flex;
    align-items: flex-end;
    margin-bottom: 48px;
    flex-direction: row;
    gap: 1em;
}

.home-text17 {
    color: #000000cc;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-right: 4px;
    letter-spacing: 0.1em;
}

.home-text18 {
    color: #000000cc;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.home-btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.home-btn-group > .button {
    box-shadow: 0.5em 0.5em 1em #b17474;
}

.home-image5 {
    width: 100%;
    position: relative;
    max-width: 300px;
    box-sizing: border-box;
    max-height: 300px;
    object-fit: cover;
    border: 1px solid #66656580;
    box-shadow: 0.7em 0.7em 1em #b17474;
}