.wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 5em;
    max-width: 1360px;
    margin-block: 5em;
    flex-wrap: wrap;
}

.category-card-category-card {
    flex: 0 0 auto;
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    box-shadow: 0.7em 0.5em 1em #ccc;
    background-color: #d99595;
    border: 1px solid #e5e5e5ff;
}

.category-card-image {
    max-width: 300px;
    max-height: 250px;
    object-fit: cover;
    margin-block: 16px;
    object-position: bottom;
}